body {
	margin: 0; 
	font-size: 14px;
	line-height: 1.4;
	background-image: url(../_images/main-background.png);
	background-position: center top;
	background-repeat: repeat-y;
	background-color: #e3e3e3;
	font-family: "Kozuka Mincho Pro", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.centered-btns_nav {
    background: url("../_images/themes.gif") no-repeat scroll left top transparent;
    height: 61px;
    left: 0;
    margin-top: -45px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 50%;
    width: 38px;
    z-index: 3;
}

.centered-btns_nav.next {
    background-position: right top;
    left: auto;
    right: 0;
}

h1, h2, h3, h4, h5 {
	color: #66b106;
    font-weight: normal;
}

h1 {
	font-size: 2em;
    font-weight: normal;
}

h2 {
	font-size: 1.66em;
}

h3 {
	font-size: 1.33em;
}

h4 {
	font-size: 1em;
}

.nav > li {
        font-size: 1em;
}

.container100 {
	position: relative;
	width: 100%;
}

.container1024 {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
}

a {
    color: #66b106;
}

.respWidth {
	width: 93%;
	margin: auto;
}

    .border {
        border: solid #000000 1px;
    }
a.viewAll  {
    text-decoration: none; 
}

.navigationBar {
	position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 200px;
	min-height: 200px;
	max-height: 200px; 
	border-top: solid white 5px;
	border-bottom: solid white 5px;
    overflow: hidden;
	z-index: 0;
	
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	
	background-color: #66b106;
	background: -moz-linear-gradient(left,  #488a04 0%, #66b106 50%, #488a04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#488a04), color-stop(50%,#66b106), color-stop(100%,#488a04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* IE10+ */
	background: linear-gradient(to right,  #488a04 0%,#66b106 50%,#488a04 100%); /* W3C */

}

.bannerShadow {
   
}

.secondaryPages {
	position: relative !important;
	width: 100%;
	height: 100px;
	min-height: 100px;
	max-height: 100px; 

}

.contact {
	position: relative;
	margin: auto;
    padding-top: 15px;
	padding-bottom: 15px;
    text-align: center;
}

.contact h3 {
	display: inline;
	font-weight: normal;
}

.contactButton {
	margin-top: -5px;
    vertical-align: middle;
}

.contactButton {
    vertical-align: middle;
}

.contactButton:hover {
	opacity: .75;
}

.contactArrow {
	margin-top: -5px;
    vertical-align: middle;
}

.logo { 
	float: left;
	width: 150px;
	height: 70px;
	padding-top: 10px;
}

.navigation {
	float: right;
}

.navigation ul {
	list-style: none;
	margin:0;
	padding:0;
	display: table;
	width: 100%;
}

.navigation li {
	border-right: 1px solid #a0c479;
    color: white;
    display: table-cell;
    
    text-align: top;
    vertical-align: middle;
    z-index: 10;
}

.navigation ul:nth-child(1) {
	border-left: 1px solid #a0c479
}
		
.navigation a {
    position: relative;
    color: white;
    display: block;
    height: 95px;
    padding: 40px 25px 0px 25px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    top: -10px;
}

.navigation a.oneLine {
    position:relative;
    padding: 40px 25px 0px 25px;
    top: 0px;

}

.navigation ul li a:hover {	
	background-color: #488a04;
	-moz-box-shadow:    inset 0 0 10px #2d5702;
   -webkit-box-shadow: inset 0 0 10px #2d5702;
   box-shadow:         inset 0 0 10px #2d5702;
	text-shadow:   1px 1px 3px #000;
}



/* 
//////////////////////
All Responsive Banner Classes Start here and work in conjunction with responsiveBanner.js 
//////////////////////
*/

.banner {
    position: relative;
    padding-bottom: 100px;
    top: 100px;
}

.bannerImages {
    
    position: absolute;
    width: 100%;
    width: 100%;
    top: 0px;
    left: 0px;

}
        
.bannerImagesHolder {
	position: relative;
	height: auto;
    width: 93%;
	border: solid white 5px;
	overflow: hidden;
	margin: 0px auto;
	
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
}

.clearRatioHolder {
    height: auto; 
    margin: -2%;
}

.clearAspectRatioImage {
    position:relative; 
    z-index: 0; 
    width: 100%; 
    height: auto;
}

.blackBar {
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index:10;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: .65;
    display: table;
}

.blackBarContents {
    position: absolute;
    display:block;
    bottom:0px;
    left: 0px;
    z-index:11;
    width: 100%;
    height: 50px;

}

.blackBarContents h2 {
    font-weight: normal;
    line-height:50px;
    display:inline;
    margin: 0px 15px;
}


.rCaptions {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rCaptions li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rCaptions li.currentCaption {
  position: relative;
  display: list-item;
  float: left;
  }

.rCaptions li.nextCaption {
  position: relative;
  display: none;
  float: left;
  }

.rSelectors li {
    cursor: pointer;
}

.rSelectors li.currentSelector {
    cursor:default;
}

.selectors {
    position: absolute;
    bottom: 0px;
    right: 10px;
    height:100%;
}

.selectors li {
	position: relative;
    min-width:35px;
    min-height: 38px;
	max-width:35px;
    max-height: 38px;
    display: inline-block;
    background-image: url('../_images/btnBannerNotSelected.png');
	opacity: 1 !important;
}

.selectors li.currentSelector {
    margin: auto 5px;
   background-image: url('../_images/btnBannerSelected.png');

}


/* 
//////////////////////
All Responsive Banner Classes end here 
//////////////////////
*/

.servicesImagesHolder {
	float: right;
	height: auto;
    width: 38%;
	margin: 0px auto;

    margin-left: 30px;
}

.servicesImage {
	position: relative;
    display: block;
	top: 0px;
    margin-bottom: 20px;
   
	height: 100%;
	width: 100%;
    z-index: 0;
    -moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
    border: solid white 5px;
}

.secondaryImagesHolder {
	float: left;
	height: auto;
    width: 46%;
	border: solid white 5px;
	overflow: hidden;
	margin: 0px auto;
	margin: 1%;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
}

.secondaryImage {
	position: relative;
    display: block;
	top: 0px;
	height: 100%;
	width: 100%;
    z-index: 0;
}

.secondaryImagesHolderCentered {
    position: relative;
	height: auto;
    width: 46%;
	border: solid white 5px;
	overflow: hidden;
	margin: 1% auto;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
}

.projectImageHolder {
    float:left;
    width: 36%;
    min-width: 36%;
    max-width: 36%;
}

.projectImage {
	position: relative;
	border: solid white 3px;
    width: 100%;
    height: auto;
	overflow: hidden;
	margin: 10px auto 20px auto;
	-moz-box-shadow: 0px 0px 3px #888;
	-webkit-box-shadow: 0px 0px 3px #888;
	box-shadow: 0px 0px 3px #888;
}

.individualProjectImagesContainer {
       float: right;
        max-width: 350px;
        width: 36%;
        padding-left: 30px;
        padding-bottom: 25px;
    }

.individualProjectImagesContainer .projectImage {
	margin: 20px 0px 0px 0px;

}

.projectInfo {
    float: right;  
    margin-left: 20px;
    width: 60%;
    text-align: left;
}

.projectInfo h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.projectInfo p{
    margin-top: 0px;
    line-height: 1.2;
}

a.viewProjectsButton {
position: relative;

border: 3px solid #fff;
-moz-box-shadow: 0px 0px 3px #888;
-webkit-box-shadow: 0px 0px 3px #888;
box-shadow: 0px 0px 3px #888;
	
background-color: #66b106;
background: -moz-linear-gradient(left,  #488a04 0%, #66b106 50%, #488a04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#488a04), color-stop(50%,#66b106), color-stop(100%,#488a04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* IE10+ */
background: linear-gradient(to right,  #488a04 0%,#66b106 50%,#488a04 100%); /* W3C */
margin-top: 0px;  
padding: 10px 15px;
text-decoration: none;
position:relative;
display: inline-block;
color: white;
line-height: 12px;
font-size: 12px;

}

a.viewProjectsButton:hover {
opacity: .75;

}


.bottomBar {
	position: relative;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 75px;
	min-height: 75px;
	max-height: 75px; 
	border-top: solid white 5px;
	border-bottom: solid white 5px;
	z-index: 0;
	margin-top: 25px;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	
	background-color: #66b106;
	background: -moz-linear-gradient(left,  #488a04 0%, #66b106 50%, #488a04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#488a04), color-stop(50%,#66b106), color-stop(100%,#488a04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* IE10+ */
	background: linear-gradient(to right,  #488a04 0%,#66b106 50%,#488a04 100%); /* W3C */

}

.bottomSpacer {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}

a.button {

border: 5px solid #fff;
-moz-box-shadow: 0px 0px 5px #888;
-webkit-box-shadow: 0px 0px 5px #888;
box-shadow: 0px 0px 5px #888;
	
background-color: #66b106;
background: -moz-linear-gradient(left,  #488a04 0%, #66b106 50%, #488a04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#488a04), color-stop(50%,#66b106), color-stop(100%,#488a04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* IE10+ */
background: linear-gradient(to right,  #488a04 0%,#66b106 50%,#488a04 100%); /* W3C */
    
padding: 10px 15px;
text-decoration: none;
position:relative;
margin-bottom: 15px;
display: block;
color: white;
line-height: 24px;
font-size: 15px;

min-width: 180px;
}

.buttonName {
    display: inline-block;
}

.icon {
    float: right;
    background-image: url(../_images/buttonArrow.png);
    height: 36px;
    max-height: 36px;
    min-height: 36px;
    max-width: 31px;
    min-width: 31px;
    width: 31px;
    margin-top: 5px;
    display: inline-block;
    
}

a.button:hover {
    opacity: .5;

}

a.button:active {
    opacity: .35;
    top: 1px;
}

.homeContent {
    float: left;
    width: auto;
}

.homeCTA {
    float: right;
    min-width: 30%;
    max-width: 50%;
    padding: 25px 0px 15px 25px;
        
}

.copyright {
    float: right;
    display: inline-block;
    color: white;
    font-style: italic;
    padding-top: 14px;
}

.copyright a {
    color: white;
}

.copyright a:hover {
    opacity: .5;
}

.smallLogo {
    float: left;
	width: 99px;
	height: 45px;
	padding-top: 15px;
    display: inline-block;
}
    
.clear {
    clear:both;
}

.project {
    padding: 20px 0px 8px 0px;
    border-bottom: solid #e7e7e7 1px;
    }

@media only screen and (min-width: 788px) and (max-width: 2400px) {
    
    .hideOnDesktop {
        display: none !important;
    }
    
    .bannerImagesHolder img{
    left: 0px;
    
}

    
}

@media only screen and (min-width: 616px) and (max-width: 787px) {

.hideOnTablet {
    display: none !important;
}
  

    
.copyright {
    font-size: 1em;
    padding-top: 14px;
}

    
h1, h2, h3, h4, h5 {
	color: #66b106;
}

h1 {
	font-size: 1.75em;
    font-weight: normal;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.33em;
}

h4 {
	font-size: 1em;
}
    
.projectInfo h3 {
    margin-bottom: 0;
    margin-top: 3px;
    padding-bottom: 0;
    font-size: 1.10em;
    
}
    
.button {

font-size: 10px;

}
    
.bannerImagesHolder img{
    left: 0px;
    
}
    p {
        font-size: 1.3em;
    }
    
  .fontDontChange {
        
        font-size: 1em;   
    }
    
    li {
        font-size: 1.3em;
    }
     .nav li {
        font-size: 1em;
    }
    
    li ul li {
        font-size: 1em;
    }
    
.blackBar {
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index:10;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: .65;
    display: table;
}

.blackBarContents {
    position: absolute;
    display:block;
    bottom:0px;
    left: 0px;
    z-index:11;
    width: 100%;
    height: 50px;

}

.blackBarContents h2 {
    font-size: 21px;

}
    
    .blackBarContents a {
    font-size: 15px;

}

}


@media only screen and (min-width: 100px) and (max-width: 618px)  {


.hideOnPhone {
    display: none !important;
}
    
p {
    font-size: 1.3em;
    padding: 0px;
    margin-bottom: 0px;
}
    
li {
    ont-size: 1.3em;
}
    
.logo { 
	float: left;
	width: 99px;
	height: 45px;
	padding-top: 15px;
}
    
.mobileNavButton {
    position: relative;
    width: 50px;
    height: 48px;
    float: right;
    padding-top: 10px;
    right: -10px;
    cursor: pointer;
}
     
.banner {
    padding-bottom: 80px;
    top: 80px;
}
    
.respWidth {
	width: 88%;
	margin: auto;
}

/* .bannerImagesHolder img{
    position: relative;
    top: 0px;
    right: 0px;
    height: 235px;
    width: 645px;
    
} */
    
.blackBar {
      height: 23px;  
    }
    

.blackBarContents {
    position: absolute;
    display:block;
    bottom:0px;
    left: 0px;
    z-index:11;
    width: 100%;
    height: 23px;

}

.blackBarContents h2 {
    font-weight: normal;
    line-height:35px;
    margin: 0px 15px;
}
    
    .viewAll {
        position: relative;
       font-size: 13px;
        left: 10px;
        top: -2px;
    }

h1 {
	font-size: 1.66em;
    font-weight: normal;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.33em;
}

h4 {
	font-size: 1em;
} 

.popUpNav {
    display: none;
    opacity: 0;
    height: 0px;
}
    
.popUpNav ul {
	list-style: none;
	margin:0;
	padding:0;
	display: table;
	width: 100%;
    
}


    
.popUpNav li {
	border-top: 1px solid #a0c479;
    display: table-row;
    text-align: center;
    vertical-align: middle;
    height: 40px;
        
}
    
.popUpNav ul li a {
    border: 0.1px solid #DCDCDC;
    color: #66B106;
    display: table-cell;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
        
    -moz-box-shadow: 0px 2px 2px #DCDCDC;
    -webkit-box-shadow: 0px 2px 2px #DCDCDC;
    box-shadow: 0px 2px 2px #DCDCDC;
} 
  

    
.navigationBar {
	
	height: 150px;
	min-height: 150px;
	max-height: 150px; 
	border-top: solid white 3px;
	border-bottom: solid white 3px;

}
    
.secondaryPages {
	position: relative !important;
	width: 100%;
	height: 73px;
	min-height: 73px;
	max-height: 73px; 

}
    
.phoneCTA {
      padding-top: 15px;  
    }

.secondaryImagesHolder {
	position: relative;
	height: auto;
    width: 98%;
	border: solid white 3px;
	overflow: hidden;
	margin: 10px auto 20px auto;
	-moz-box-shadow: 0px 0px 3px #888;
	-webkit-box-shadow: 0px 0px 3px #888;
	box-shadow: 0px 0px 3px #888;
}
    
.lessPadding {
    margin: 1% auto;  
    }

.secondaryImage {
	position: relative;
    display: block;
	top: 0px;
	height: 100%;
	width: 100%;
    z-index: 0;
}
    
     li {
        font-size: 1.3em;
    }
    
    li ul li {
        font-size: 1em;
    }

    
.projectImageHolder {
    float:none;
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
}

.projectImage {
	position: relative;
	border: solid white 3px;
    width: 100%;
    height: auto;
	overflow: hidden;
	margin: 10px auto 20px auto;
	-moz-box-shadow: 0px 0px 3px #888;
	-webkit-box-shadow: 0px 0px 3px #888;
	box-shadow: 0px 0px 3px #888;
}


.projectInfo {
    float: none; 
    position: relative;
    margin-left: 0px;
    width: 100%;
    text-align: left;
    display: block;
    padding-bottom: 15px;
}

.projectInfo h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
        margin-top: 0px;
    padding-top: 0px
}

.projectInfo p{
    margin-top: 0px;
    line-height: 1.2;
}

a.viewProjectsButton {
position: relative;

border: 3px solid #fff;
-moz-box-shadow: 0px 0px 3px #888;
-webkit-box-shadow: 0px 0px 3px #888;
box-shadow: 0px 0px 3px #888;
	
background-color: #66b106;
background: -moz-linear-gradient(left,  #488a04 0%, #66b106 50%, #488a04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#488a04), color-stop(50%,#66b106), color-stop(100%,#488a04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #488a04 0%,#66b106 50%,#488a04 100%); /* IE10+ */
background: linear-gradient(to right,  #488a04 0%,#66b106 50%,#488a04 100%); /* W3C */
margin-top: 20px; 
padding: 10px 15px;
text-decoration: none;
position:relative;
display: inline-block;
color: white;
line-height: 12px;
font-size: 12px;

}

a.viewProjectsButton:hover {
opacity: .75;

}

    .smallLogo {
        width: 69px;
        height: 32px;
        margin-top:3px;
    }
    
    .smallLogo img{
        width: 69px;
        height: 32px;
        
    }
    
      .copyright {
        position:relative;
        font-size: .75em; 
        padding-left: 0px;
        right: -3px;
        margin-top: 19px;
    }
    
.servicesImagesHolder {
	float: relative;
	height: auto;
    width: 100%;
	margin: 0px auto;

}

.servicesImage {
	position: relative;
    display: block;
	top: 0px;
    margin-bottom: 20px;
   
	height: 100%;
	width: 100%;
    z-index: 0;
    -moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
    border: solid white 5px;
}

.clearRatioHolder {
    height: auto; 
    margin: -2%;
}
    
.clearAspectRatioImage {
    position:relative; 
    z-index: 0; 
    width: 100%; 
    min-height: 200px;
}
    
.bannerImages {
    
    position: absolute;
    min-width: 539px;
    min-height: 200px;
    top: 0px;
    left: 0px;

}

}